 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savour Bite</title>
    {% load static %}
    <link href="{% static 'style.css'%}" rel="stylesheet">
</head>
<body>
    <div class="hero-section">
        <div class="overlay">
            <div class="content">
                <h1 class="logo-text">Savour Bite <span>🥪</span></h1>
                <p class="tagline">Where you find your food based on your cravings! 🍔</p>
                
                <div class="button-wrapper">
                    <a href="open_signup" class="btn btn-primary">Sign Up</a>
                    <a href="open_signin" class="btn btn-secondary">Sign In</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>